version: "3.7"
services:
  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 27017:27017

  jaeger:
    image: jaegertracing/opentelemetry-all-in-one:latest
    ports:
      - 16686:16686
      - 13133:13133
      - 4317:4317
      - 4318:4318

  consul:
    image: hashicorp/consul:latest
    ports:
      - 8500:8500
  
  cache:
    image: redis:7.2
    ports:
      - '6379:6379'

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    expose:
      - "5672"
    ports:
      - "15672:15672"

  local.api:
    image: plant-based-pizza-api
    container_name: local.pizza-api
    depends_on:
      - consul
      - rabbitmq
      - cache
    expose:
      - "8080"
    environment:
      - DatabaseConnection=mongodb://mongodb:27017
      - OtlpEndpoint=http://jaeger:4317
      - Environment=local
      - RedisConnectionString=cache
      - Services__Loyalty=http://LoyaltyApi
      - Services__LoyaltyInternal=http://LoyaltyInternalApi
      - Services__PaymentInternal=http://PaymentApi
      - ServiceDiscovery__MyUrl=http://local.api:8080
      - ServiceDiscovery__ServiceName=Api
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500
      - Messaging__HostName=rabbitmq
      - Messaging__ExchangeName=local.plantbasedpizza

  local.orders-api:
    image: plant-based-orders-api
    container_name: local.orders-api
    depends_on:
      - consul
      - rabbitmq
      - cache
    expose:
      - "8080"
    environment:
      - DatabaseConnection=mongodb://mongodb:27017
      - OtlpEndpoint=http://jaeger:4317
      - Environment=local
      - RedisConnectionString=cache
      - Services__Loyalty=http://LoyaltyApi
      - Services__LoyaltyInternal=http://LoyaltyInternalApi
      - Services__PaymentInternal=http://PaymentApi
      - Services__Recipes=http://Api
      - ServiceDiscovery__MyUrl=http://local.orders-api:8080
      - ServiceDiscovery__ServiceName=OrdersApi
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500
      - Messaging__HostName=rabbitmq
      - Messaging__ExchangeName=local.plantbasedpizza

  local.orders-worker:
    image: plant-based-orders-worker
    container_name: local.orders-worker
    depends_on:
      - consul
      - rabbitmq
      - cache
    environment:
      - DatabaseConnection=mongodb://mongodb:27017
      - OtlpEndpoint=http://jaeger:4317
      - RedisConnectionString=cache
      - Services__Loyalty=http://LoyaltyApi
      - Services__LoyaltyInternal=http://LoyaltyInternalApi
      - Services__PaymentInternal=http://PaymentApi
      - Services__Recipes=http://Api
      - Environment=local
      - ServiceDiscovery__MyUrl=
      - ServiceDiscovery__ServiceName=
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500
      - Messaging__HostName=rabbitmq
      - Messaging__ExchangeName=local.plantbasedpizza

  local.loyalty-api:
    image: loyalty-api
    container_name: local.loyalty-api
    depends_on:
      - consul
      - rabbitmq
    ports:
      - "5050:8080"
    environment:
      - DatabaseConnection=mongodb://mongodb:27017
      - OtlpEndpoint=http://jaeger:4317
      - Environment=local
      - ServiceDiscovery__MyUrl=http://local.loyalty-api:8080
      - ServiceDiscovery__ServiceName=LoyaltyApi
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500
      - Messaging__HostName=rabbitmq
      - Messaging__ExchangeName=local.plantbasedpizza

  local.loyalty-internal-api:
    image: loyalty-internal-api
    container_name: local.loyalty-internal-api
    expose:
      - "8080"
    depends_on:
      - consul
      - rabbitmq
    environment:
      - DatabaseConnection=mongodb://mongodb:27017
      - OtlpEndpoint=http://jaeger:4317
      - Environment=local
      - ServiceDiscovery__MyUrl=http://local.loyalty-internal-api:8080
      - ServiceDiscovery__ServiceName=LoyaltyInternalApi
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500
      - Messaging__HostName=rabbitmq
      - Messaging__ExchangeName=local.plantbasedpizza

  local.loyalty-worker:
    image: loyalty-worker
    container_name: local.loyalty-worker
    depends_on:
      - consul
      - rabbitmq
    environment:
      - DatabaseConnection=mongodb://mongodb:27017
      - OtlpEndpoint=http://jaeger:4317
      - Environment=local
      - ServiceDiscovery__MyUrl=
      - ServiceDiscovery__ServiceName=
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500
      - Messaging__HostName=rabbitmq
      - Messaging__ExchangeName=local.plantbasedpizza

  local.kitchen-api:
    image: plant-based-kitchen-api
    container_name: local.kitchen-api
    expose:
      - "8080"
    depends_on:
      - consul
      - rabbitmq
      - cache
    environment:
      - DatabaseConnection=mongodb://mongodb:27017
      - OtlpEndpoint=http://jaeger:4317
      - Environment=local
      - RedisConnectionString=cache
      - Services__Recipes=http://Api
      - ServiceDiscovery__MyUrl=http://local.kitchen-api:8080
      - ServiceDiscovery__ServiceName=KitchenApi
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500
      - Messaging__HostName=rabbitmq
      - Messaging__ExchangeName=local.plantbasedpizza

  local.kitchen-worker:
    image: plant-based-kitchen-worker
    container_name: local.kitchen-worker
    depends_on:
      - consul
      - rabbitmq
      - cache
    environment:
      - DatabaseConnection=mongodb://mongodb:27017
      - OtlpEndpoint=http://jaeger:4317
      - Environment=local
      - RedisConnectionString=cache
      - Services__Recipes=http://Api
      - ServiceDiscovery__MyUrl=
      - ServiceDiscovery__ServiceName=
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500
      - Messaging__HostName=rabbitmq
      - Messaging__ExchangeName=local.plantbasedpizza

  local.payment-api:
    image: payment-api
    container_name: local.payment-api
    depends_on:
      - consul
      - rabbitmq
    ports:
      - "5052:8080"
    environment:
      - OtlpEndpoint=http://jaeger:4317
      - Environment=local
      - ServiceDiscovery__MyUrl=http://local.payment-api:8080
      - ServiceDiscovery__ServiceName=PaymentApi
      - ServiceDiscovery__ConsulServiceEndpoint=http://consul:8500

  reverse-proxy:
    image: nginx:latest
    ports:
      - "5051:80"  # Map port 80 of the container to port 8080 on the host
    volumes:
      - ./nginx/nginx-custom.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - local.api